@import url('https://fonts.googleapis.com/css2?family=Anuphan:100,200,300,400,500,600,700wght@300&family=Exo:100,200,300,400,500,600,700ital,wght@1,300&display=swap');


/* ------- Colours ---------*/

.bg-color-name-title {
    background-color:#676767;
}

.bg-color-three-reasons {
    background-color: #fff;
}

.bg-color-personal-info {
    background-color:#f4f4f4;
}

.ui-menu-color-home {
    background-color: #e67e22;
}

.ui-menu-color-resume {
    background-color: #278502;
}

.ui-menu-color-contact {
    background-color: #036eac;
}

.ui-menu-color-download {
    background-color: #5c5c5c;
}

/* ------- Special paddings/margins/text ---------*/

h1,h2,h3,h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;

}
.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/* ------- Headers ---------*/
header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url(../images/me.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: 'Anuphan', sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: 'Anuphan', sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

#nav {
    margin: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;

}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    display: block;
    padding-top: 22px;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/* ------- Hover.css ---------*/

.hvr-bounce-to-bottom:before {
    background: rgba(0, 0, 0, 0.3) !important;
    height: 120px;

}

/* ------- Footer ---------*/

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 7px 0;
    border-radius: 50%;
    font-size: 19px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #e84610;
}

#footer-details {
    padding: 20px;
}

/* ------- 3 Reasons ---------*/

.three-reasons-icon {
    font-size: 26px;
    color: #e67e22;
}

.three-reasons-heading {
    margin-bottom: 15px;
}

/* ------- Personal Info ---------*/

.personal-info-item {
    margin-bottom: 20px;
}