@import url('https://fonts.googleapis.com/css2?family=Anuphan&display=swap');


.bg-color-name-title {
    background-color:#676767;

}

header {
    margin: 0;
}

.logo {
    background: url(../images/me.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


body {
    font-family: 'Anuphan', sans-serif;
}